node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*.local

logs/
*.log
*.out
*.pid

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

dist/
build/
coverage/

*.sqlite
*.sqlite3
*.db
*.db3

*.tgz
*.gz
*.zip

knexfile.js
knexfile.ts

coverage/
.nyc_output/